node_modules/
database/pingping.db*
database/*.sqlite*
database/test.db*
uploads/*
!uploads/.gitkeep
!database/.gitkeep
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.system_generated/
.vercel
.env*
